<% include ../../partials/head %>

<body class="skin-blue sidebar-mini wysihtml5-supported">
<div class="wrapper">

    <% include ../../partials/header %>

    <% include ../../partials/aside %>

    <% include ../../partials/admin/orders/Detail %>

    <% include ../../partials/footer %>

    <% include ../../partials/sidebar%>

    <div class="control-sidebar-bg"></div>
</div>

<% include ../../partials/tail %>