<!DOCTYPE html>
<html lang="en-au" xml:lang="en-au">

<head>
    <meta charset="utf-8">
    <title>Men Tailored Suits & Tailored Shirts | Hockerty</title>
    <meta name="description"
        content="Design men custom suits and shirts and enjoy 2 weeks free shipping. Unlimited personalization options & a wide range of fabrics. Order now" />
    <meta name="keywords"
        content="Custom Suits, Tailored suits, Custom made suits, Custom Dress Shirts, Tailored shirts, Custom made shirts" />
    <!--[if gte IE 9]><meta http-equiv="x-ua-compatible" content="IE=edge" /><![endif]-->
    <!--[if lt IE 9]><meta http-equiv="x-ua-compatible" content="IE=6,7,8" /><![endif]-->
    <!--[if lt IE 9]><meta name="viewport" content="width=device-width, initial-scale=1.0"><![endif]-->
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />

    <!-- <meta name="apple-mobile-web-app-title" content="hockerty">
    <meta name="application-name" content="hockerty">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="theme-color" content="#fafafa">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fafafa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="32x32" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon.png">
    <link rel="preconnect" href="//d2w9m16hs9jc37.cloudfront.net">
    <link rel="preconnect" href="//d1fufvy4xao6k9.cloudfront.net">
    <link rel="preconnect" href="//www.googletagmanager.com">
    <link rel="alternate" hreflang="de-at" href="https://www.hockerty.at/de-at/customer/orders/pending" />
    <link rel="alternate" hreflang="de-ch" href="https://www.hockerty.ch/de-ch/customer/orders/pending" />
    <link rel="alternate" hreflang="de" href="https://www.hockerty.de/de/customer/orders/pending" />
    <link rel="alternate" hreflang="en-us" href="https://www.hockerty.com/en-us/customer/orders/pending" />
    <link rel="alternate" hreflang="en-gb" href="https://www.hockerty.uk/en-uk/customer/orders/pending" />
    <link rel="alternate" hreflang="en-ie" href="https://www.hockerty.com/en-ie/customer/orders/pending" />
    <link rel="alternate" hreflang="en-ch" href="https://www.hockerty.ch/en-ch/customer/orders/pending" />
    <link rel="alternate" hreflang="en-ca" href="https://www.hockerty.com/en-ca/customer/orders/pending" />
    <link rel="alternate" hreflang="en-au" href="https://www.hockerty.com/en-au/customer/orders/pending" />
    <link rel="alternate" hreflang="en" href="https://www.hockerty.com/en/customer/orders/pending" />
    <link rel="alternate" hreflang="es-us" href="https://www.hockerty.com/es-us/customer/orders/pending" />
    <link rel="alternate" hreflang="es-mx" href="https://www.hockerty.com/es-mx/customer/orders/pending" />
    <link rel="alternate" hreflang="es" href="https://www.hockerty.es/es/customer/orders/pending" />
    <link rel="alternate" hreflang="fr-be" href="https://www.hockerty.com/fr-be/customer/orders/pending" />
    <link rel="alternate" hreflang="fr-ca" href="https://www.hockerty.com/fr-ca/customer/orders/pending" />
    <link rel="alternate" hreflang="fr-ch" href="https://www.hockerty.ch/fr-ch/customer/orders/pending" />
    <link rel="alternate" hreflang="fr" href="https://www.hockerty.fr/fr/customer/orders/pending" />
    <link rel="alternate" hreflang="it-ch" href="https://www.hockerty.ch/it-ch/customer/orders/pending" />
    <link rel="alternate" hreflang="it" href="https://www.hockerty.it/it/customer/orders/pending" />
    <link rel="alternate" hreflang="ru" href="https://www.hockerty.ru/ru/customer/orders/pending" />
    <meta name="robots" content="noindex, nofollow" /> -->
    <link rel="stylesheet" href="/css/mobile.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/customer/orders_mobile.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="https://d2w9m16hs9jc37.cloudfront.net/css/customer/addresses.css?v=v1565689025" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css">
    

    <!-- <link rel="stylesheet" href="https://d2w9m16hs9jc37.cloudfront.net/css/magnific-popup.css?v=v1565689025"
        type="text/css" charset="utf-8" /> -->
    <!--[if lt IE 9]>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/html5shiv.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/css3-mediaqueries.min.js"></script>
<![endif]-->
    <meta property="og:url" content="https://www.hockerty.com/en-au/customer/orders/pending" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://d1fufvy4xao6k9.cloudfront.net/images/share/hockerty.jpg" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:site_name" content="Hockerty" />
    <meta property="fb:app_id" content="1012420945555828">


    <script type="text/javascript">
        !function () { function e() { if (void 0 !== window._sw2) return window._sw2; if (!window.FontFace) return window._sw2 = !1; var e = new FontFace("t", 'url("data:application/font-woff2,") format("woff2")', {}); return e.load(), window._sw2 = "loading" === e.status } function t(e) { document.documentElement.className += " " + e } var n = navigator.userAgent, o = !window.addEventListener || n.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/) && !n.match(/Chrome/); window.loadScript = function (e, t, n) { if ("object" != typeof e) { t || (t = "https://d2w9m16hs9jc37.cloudfront.net/js/" + e), t += "?v=" + cdn_version_js; var a = document.createElement("script"); if (a.type = "text/javascript", o) a.src = t, document.body.appendChild(a), "function" == typeof n && n(e); else { var s = {}; try { s = localStorage || {} } catch (e) { } var c = "x-js-" + e, r = c + "-url", d = c + "-data", l = s[r], i = s[d]; if (i && l === t) { try { a.appendChild(document.createTextNode(i)) } catch (e) { a.text = i } document.body.appendChild(a), "function" == typeof n && n(e) } else { var f = new XMLHttpRequest; f.open("GET", t), f.onload = function () { if (200 == f.status) { try { s[r] = t, s[d] = f.responseText } catch (e) { } try { a.appendChild(document.createTextNode(f.responseText)) } catch (e) { a.text = f.responseText } document.body.appendChild(a) } "function" == typeof n && n(e) }, f.send() } } } else for (var p in e) loadScript(e[p], null, n) }, window.loadStylesheet = function (n, a) { if ("object" != typeof n) { a || (a = "https://d2w9m16hs9jc37.cloudfront.net/css/" + n), a += "?v=" + cdn_version_css; var s = "css-" + n.replace(".css", "").replace("/", "-"); if (o) { var c = document.createElement("link"); return c.type = "text/css", c.rel = "stylesheet", c.href = a, document.head.appendChild(c), void t(s) } var r = a.indexOf("/css/fonts/") > -1; r && (a = a.replace("/css/fonts/", "/en/services/font/").replace(".css", "/woff")); var d = {}; try { d = localStorage || {} } catch (e) { } var l = "x-css-" + n, i = l + "-url", f = l + "-css", p = d[i], u = d[f], h = document.createElement("style"); if (h.rel = "stylesheet", document.head.appendChild(h), u && p === a) h.styleSheet ? h.styleSheet.cssText = u : h.appendChild(document.createTextNode(u)), t(s); else { var w = a; r && e() && (w = w.replace("woff", "woff2")); var y = new XMLHttpRequest; y.open("GET", w), y.onload = function () { if (200 == y.status) { var e = y.responseText; h.styleSheet ? h.styleSheet.cssText = e : h.appendChild(document.createTextNode(e)); try { d[i] = a, d[f] = e } catch (e) { } t(s) } }, y.send() } } else for (var v in n) loadStylesheet(n[v], null) }, window.loadFont = function (e) { loadStylesheet("fonts/" + e + ".css") } }();
        var cdn_version_css = "1565689025"; var cdn_version_js = "1565689025"; loadFont('lato'); loadFont('nc-nav'); </script>
</head>

<body class="man  customer_account mobile   body_en ">
    <script type="text/javascript">
        var region_url = '/en-au/';
        var cdn_host = 'https://d2w9m16hs9jc37.cloudfront.net/';
        var backoffice_store = 0;
        var currency = 'AUD';
        var currency_json = { "iso": "AUD", "symbol": "$" };
        var ready_callbacks = [];
        var ga_callbacks = [];
        var scripts_to_load = ["mobile.js", "jquery.magnific-popup.min.js"];
        var mobile_enabled = 1;
        var tablet_enabled = false;
        var dataLayer = [{ "contentGroup1": "customer_account", "contentGroup2": "customer_orders", "promotion_active": "earlybird", "promotion_popup_firsttime": "0", "promotion_valid": "2019-08-18", "region": "en-au", "lang": "en", "currency": { "iso": "AUD", "symbol": "$" }, "length_units": "cm", "weigth_units": "kg", "gender": "man", "menu_item": "customer_orders", "isAdmin": false, "mobile_device": true, "tablet_device": false, "mobile_ready": true, "mobile_enabled": true, "customer_logged": 1, "swiss_site": 0, "device_type": "mobile", "customer_id": "694767", "customer_email": "nathan@gmail.com", "customer_segment": "voyeur", "customer_n_orders": 0, "customer_samples": 0, "customer_last_order": 0 }];
    </script>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WQMRNX" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WQMRNX');</script>

    <div id="body_height" class=" ">
        <!--googleoff: all-->
        <!--MOBILE-->

        <div id="header">
            <a id="mobile-menu-trigger" href="#mobile-menu"></a>
            <a class="logo_toolbar " href="/en-au/" rel="nofollow"></a>

            <a id="mobile-cart-trigger" href="/en-au/checkout/"></a>

        </div>
        <div id="mobile-menu" class="sidr">
            <ul class="main man dropdown">

                <li class="first"><a href="/en-au/"><span>HOME</span></a></li>



                <li class="menu_man_suit main man product first  title " rel="man_suit">
                    <a href="javascript:;" class="title dropdown">
                        <span>Suits</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class="psl"><a class="menu_man_suit subnav_titles "
                                href="/en-au/men/custom-suits/personalize">DESIGN YOUR SUIT</a></li>
                        <li class="psl"><a class="menu_man_smoking subnav_titles "
                                href="/en-au/men/custom-tuxedos/personalize">Design your tuxedo</a></li>
                        <li class="separator"></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/suits/spring-summer/">Spring - Summer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/suits/business-suits/">Business Suits</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/suits/doublebreasted-suits/">Double-breasted Suits</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/suits/three-piece-suits/">3 Piece Suits</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/tuxedos/party-tuxedos/">Party Tuxedos</a></li>
                        <li rel=""><a class="subnav_titles new" rel="configure"
                                href="/en-au/men/suits/new-arrivals/">New Arrivals<span class="new">NEW</span></a></li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_man_shirt main man product   title " rel="man_shirt">
                    <a href="javascript:;" class="title dropdown">
                        <span>Dress Shirts</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class="psl"><a class="menu_man_shirt subnav_titles "
                                href="/en-au/men/custom-dress-shirts/personalize">DESIGN YOUR SHIRT</a></li>
                        <li class="separator"></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/shirts/spring-summer/">Spring - Summer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/shirts/business-shirts/">Business Dress Shirts</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/shirts/casual-shirts/">Casual Shirts</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/shirts/linen-shirts-collection/">Linen Shirts Collection</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/shirts/essential-dress-shirts/">Essential Shirts</a></li>
                        <li rel=""><a class="subnav_titles new" rel="configure"
                                href="/en-au/men/shirts/new-arrivals/">New Arrivals<span class="new">NEW</span></a></li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_outerwear main man product   title " rel="outerwear">
                    <a href="javascript:;" class="title dropdown">
                        <span>Outerwear</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class="psl"><a class="menu_man_coat subnav_titles " href="/en-au/men/custom-coats/">Design
                                your coat</a></li>
                        <li class="psl"><a class="menu_man_trenchcoat subnav_titles "
                                href="/en-au/men/trench-coat/configure">Design your Trench Coat</a></li>
                        <li class="psl"><a class="menu_winter_blazers_landing subnav_titles "
                                href="/en-au/men/custom-winter-blazers/">Design your Winter Blazer</a></li>
                        <li class="separator"></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/new-coats/">New
                                Coats 2019</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/coats/business-coats/">Business Coats</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/coats/casual-coats/">Casual Coats</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/coats/essential-coats/">Essential Coats</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/coats/selected-winter-coats/">Selected Winter Coats</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/trench-coats/new-trench-coats/">New Trench Coats</a></li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_man_jacket main man product   title " rel="man_jacket">
                    <a href="javascript:;" class="title dropdown">
                        <span>Jackets</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class="psl"><a class="menu_man_jacket subnav_titles "
                                href="/en-au/men/custom-jackets/personalize">Design your Blazer</a></li>
                        <li class="separator"></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/blazers/spring-summer/">Spring/Summer Blazer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/blazers/business-blazers/">Business Blazer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/blazers/casual-blazers/">Casual Blazer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/blazers/unlined-blazer/">Unlined Blazer</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/blazers/party-blazers/">Party Blazer</a></li>
                        <li rel=""><a class="subnav_titles new" rel="configure"
                                href="/en-au/men/blazers/new-arrivals/">New Arrivals<span class="new">NEW</span></a>
                        </li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_man_pants main man product   title " rel="man_pants">
                    <a href="javascript:;" class="title dropdown">
                        <span>Pants</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class="psl"><a class="menu_man_pants subnav_titles "
                                href="/en-au/men/custom-pants/personalize">Design your pants</a></li>
                        <li class="psl"><a class="menu_man_pants_chinos_personalize_2 subnav_titles "
                                href="/en-au/men/custom-chinos/">Design Chinos</a></li>
                        <li class="separator"></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/pants/dress-trousers/">Dress Trousers</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/pants/casual-business/">Casual Business</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/pants/chinos/">Chinos</a>
                        </li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/pants/spring-summer/">Spring - Summer</a></li>
                        <li rel=""><a class="subnav_titles new" rel="configure"
                                href="/en-au/men/pants/new-arrivals/">New Arrivals<span class="new">NEW</span></a></li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_man_wedding main man product   title " rel="man_wedding">
                    <a href="javascript:;" class="title dropdown">
                        <span>Ceremonial</span></a>
                    <ul class="subnav simple">
                        <li class="title psl">3D Designer</li>
                        <li class=""><a class="menu_man_wedding subnav_titles "
                                href="/en-au/men/wedding-suits/">Ceremonial</a></li>
                        <li class="psl"><a class="menu_man_wedding_suit subnav_titles "
                                href="/en-au/men/wedding-suit/">Wedding Suits</a></li>
                        <li class="psl"><a class="menu_man_smoking subnav_titles "
                                href="/en-au/men/custom-tuxedos/">Tuxedo Suits</a></li>
                        <li class="psl"><a class="menu_man_chaque subnav_titles "
                                href="/en-au/men/morning-coat/">Morning coat</a></li>
                        <li class="psl"><a class="menu_man_levita subnav_titles " href="/en-au/men/frock-coat/">Frock
                                coat</a></li>
                        <li class="psl"><a class="menu_man_frac subnav_titles " href="/en-au/men/tailcoats/">Tail
                                Coat</a></li>
                        <li class="psl"><a class="menu_url_bigorders subnav_titles " href="/en-au/men/big-orders/">Big
                                Orders</a></li>
                        <li class="title">Collections</li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/tuxedos/tuxedo-suits/">Tuxedo Suits</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/morning-coats/morning-coats/">Morning Coats</a></li>
                        <li rel=""><a class="subnav_titles " rel="configure"
                                href="/en-au/men/suits/wedding-suits/">Wedding Suits</a></li>
                    </ul>
                </li>
                <div class="sep"></div>
                <li class="menu_other main man product  last title " rel="other">
                    <a href="javascript:;" class="title dropdown">
                        <span>Other</span></a>
                    <ul class="subnav simple">
                        <li class=""><a class="menu_man_waistcoat subnav_titles "
                                href="/en-au/men/custom-waistcoats/">Waistcoats</a></li>
                        <li class=""><a class="menu_man_polo subnav_titles " href="/en-au/men/custom-polo-shirts/">Polo
                                shirts</a></li>
                        <li class="psl"><a class="menu_winter_blazers_landing subnav_titles "
                                href="/en-au/men/custom-winter-blazers/">Winter Blazers</a></li>
                        <li class="separator"></li>
                        <li class=""><a class="menu_man_accessories subnav_titles "
                                href="/en-au/men/accessories/">Accessories</a></li>
                        <li class=""><a class="menu_man_gifts subnav_titles " href="/en-au/men/gifts/">Gifts</a></li>
                        <li class="separator"></li>
                        <li class=""><a class="menu_fabrics subnav_titles " href="/en-au/fabrics-collection/">FABRIC
                                SAMPLES SERVICE</a></li>
                    </ul>
                </li>
                <li class="title"><a class="sumissura" href="https://www.sumissura.com"
                        target="_blank"><span>WOMEN</span></a></li>

                <li class="split"></li>
                <li class="lvl1"><a href="/en-au/info/"><span>FAQs</span></a></li>
                <li class="lvl1"><a href="/en-au/info/how-it-works/"><span>How it works</span></a></li>
                <li class="lvl1"><a href="/en-au/info/why-customize/"><span>Why custom</span></a></li>
                <li class="lvl1"><a href="/en-au/fabrics-collection/"><span>FABRIC SAMPLES SERVICE</span></a></li>
                <li class="lvl1"><a href="/en-au/blog"><span>BLOG</span></a></li>

                <li class="split"></li>

                <li class="lvl1 man main"><a href="javascript:;" rel="nofollow" class="dropdown"><span>My
                            Account</span></a>
                    <ul class="subnav">
                        <li><a href="/en-au/customer/personal"><span>Customer Data</span></a></li>
                        <li><a href="/en-au/customer/profiles"><span>PROFILE DATA</span></a></li>
                        <li><a href="/en-au/customer/addresses"><span>Saved Addresses</span></a></li>
                        <li><a href="/en-au/customer/t4l_credit"><span>Credit</span></a></li>
                        <li><a href="/en-au/customer/adjustments"><span>Return final adjustments</span></a></li>
                        <li><a href="/en-au/customer/logout"><span>Log out</span></a></li>
                    </ul>
                </li>

                <li class="lvl1"><span rel="/en-au/select_language/" class="main ds_link"><span>Language:
                            English</span></span></li>
                <li class="lvl1"><a href="/en-au/contact"><span>CONTACT</span></a></li>
            </ul>
        </div>
        <div id="menu_body_hidder"></div>
        <!--TOOLBAR-->

        <!--googleon: all-->
        <div id="body" class="customer_orders">
            <div class="body_box ">

                <div id="account" class="customer_orders">
                    <div class="account_sidebar">
                        <h1 class="title" rel="title">
                            Order records
                        </h1>

                        <div class="content" id="account_menu">
                            <ul>
                                <li><a href="/orders/pending" class="current">Pending Carts</a></li>
                                <li><a href="/orders">Order records</a></li>
                                <li><a href="/profile">Profiles</a></li>
                                <li><a href="/signOut">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="account_content">
                        <div class="opt_box">
                            <div class="title">
                                <h4 rel="optbox">Order records</h4>
                            </div>
                            <div class="content">
                                <div class="menu_options" style="display: block">
                                    <a href="?status=pending" class="box active " rel="pending">
                                        <div class="subbox">
                                            <div class="icon pending"></div>
                                            <div class="text">Pending</div>
                                        </div>
                                    </a>
                                    <a href="?status=process" class="box " rel="process">
                                        <div class="subbox">
                                            <div class="icon process"></div>
                                            <div class="text">in progress</div>
                                        </div>
                                    </a>
                                    <a href="?status=history" class="box " rel="history">
                                        <div class="subbox">
                                            <div class="icon history"></div>
                                            <div class="text">History</div>
                                        </div>
                                    </a>
                                </div>
                                
                                <% if (orders.length > 0) { 
                                    var i= 1; orders.forEach(function(order) { %>
                                <div class="profile list_item">
                                    <div style="font-size: 18px;
                                    font-weight: 400;
                                    text-transform: uppercase;">Id: <%= order._id %></div>
                                    <div class="info">
                                        <address>
                                            <% let date = new Date(order.createdAt); %>
                                            Date:  <%= date.toLocaleString() %><br>
                                            Total Price: <%= order.total_price %>$ AUD <br>
                                            Status: <% if(order.status == 1) { %>
                                                <span class="label label-warning ">Pending</span><br>
                                                <%} else if (order.status == 2) { %>
                                                <span class="label label-primary ">Confirmed</span><br>
                                                <% }  else if (order.status == 3) { %>
                                                <span class="label label-default ">Processing</span><br>
                                                <% } else if (order.status == 0) { %>
                                                <span class="label label-danger ">Cancelled</span><br>
                                                <% } %>
                                        </address>
                                    </div>
                    
                                    <div class="options">
                                        <div class="opt">
                                            <a href="/orders/<%= order._id %>"
                                               class="modificar colorboxTrigger" title="Ref. ">View detail</a>
                                        </div>
                                    </div>
                    
                                    <div class="separator">&nbsp;</div>
                                </div>
                                <% })
                                } else { %>
                                    <div class="sub_title">No order record</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    ready_callbacks.push(function () {
                        if (window.mobile_enabled) {
                            $('#account h1').click(function () {
                                $('#account_menu').slideToggle();
                                return false;
                            });
                        } else {
                            $('.menu-ico').click(function () {
                                $('.account_sidebar').animate({ width: 'toggle' }, 350);
                            });

                            
                        }
                    });
                </script>
            </div>
        </div>

        <style type="text/css">
            .chat_invitation,
            .chat_invitation_text {
                font-family: Lato, sans-serif
            }

            .chat_invitation {
                display: none;
                position: fixed;
                right: 100px;
                bottom: 44px;
                width: 300px;
                font-size: 14px;
                background-color: #fff;
                border-radius: .625rem;
                -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                -ms-overflow-style: -ms-autohiding-scrollbar;
                cursor: pointer;
                max-width: 260px;
                z-index: 50001
            }

            @media (max-width:370px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px
                }
            }

            @media (max-width:320px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px;
                    left: 20px;
                    width: auto
                }
            }

            @media (min-width:381px) and (max-width:460px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:375px) and (max-width:380px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:360px) and (max-width:374px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:320px) and (max-width:359px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            .chat_invitation_text {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 1rem;
                max-width: 100%;
                font-size: .8rem;
                white-space: normal
            }

            .chat_invitation_close,
            .chat_invitation_count {
                position: absolute;
                font-size: 15px;
                color: #fff;
                opacity: 1;
                font-weight: 700;
                line-height: 25px;
                text-align: center
            }

            .chat_invitation_arrow {
                display: block;
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                right: -10px;
                bottom: 10px;
                background-color: inherit;
                -webkit-transform: translateX(-6px) rotate(45deg);
                -ms-transform: translateX(-6px) rotate(45deg);
                transform: translateX(-6px) rotate(45deg);
                pointer-events: none;
                -webkit-box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2);
                box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2)
            }

            .chat_invitation_close {
                display: none;
                font-family: nc-nav;
                top: -25px;
                border: 1px solid #fff;
                border-radius: 20px;
                left: 0;
                width: 20px;
                height: 20px;
                background: rgba(0, 0, 0, .2)
            }

            .chat_invitation_count {
                bottom: 25px;
                background: #B8513A;
                border-radius: 20px;
                right: -80px;
                width: 25px;
                height: 25px;
                z-index: 50001
            }

            .chat_invitation_close.show {
                display: block
            }

            .drift_up_60 .chat_invitation {
                bottom: 100px;
            }

            .chat_invitation {
                transition: all .5s;
            }
        </style>

        <script type="text/html" id="chat_invitation_tmpl">
    <div class="chat_invitation">
        <span class="chat_invitation_arrow"></span>
        <span class="chat_invitation_count">1</span>
        <span class="chat_invitation_close  show ">v</span>
    </div>
</script>

        <script type="text/html" id="chat-welcome">
    <div class="chat_welcome">
        <div class="chat_welcome_header">
            <div class="chat_welcome_agent">
                <div class="avatar-container"><span class="avatar-image" style="background-image: url('/images/chat/avatar-image.png')"></span></div>
                <div class="agent-name">Hockerty</div>
            </div>
            <div class="chat_welcome_message_head">Hello! Ready to get you next garment made to your exact measurements?</div>
            <div class="chat_welcome_message"></div>
        </div>
        <form class="chat_welcome_form">
            <div class="textarea">
                <textarea placeholder="Write your message..."></textarea>
            </div>
            <div class="submit">
                <button tabindex="1000">
                    <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z"
                              fill-rule="evenodd"></path>
                    </svg>
                    <span>Send</span></button>
            </div>
        </form>
    </div>
</script>

        <script type="text/javascript">

            ready_callbacks.push(function () {

                var lang = 'en';
                var ladeskButton = 0;
                var chatbot = 1;
                var customer = window.getStoredCustomer();
                var ladeskButtonCallback = 0;

                var linkJS = "https://d2w9m16hs9jc37.cloudfront.net/js/chat/container.js?v=1565689025";
                var linkCSS = "https://d2w9m16hs9jc37.cloudfront.net/css/chat/container.css?v=1565689025";


                var chat_config = {
                    server: 'https://chat.hockerty.com',
                    i18n: {
                        welcome: "Hi! Can I help you?",
                        offline: "Ask us anything. We are available.",
                        onlyenglish: "There are not advisors available in your language, but you can be attended in English. If not, you can leave your message in your language and we’ll get back to you as soon as possible"
                    }
                };

                var ChatHandler = {
                    ladesk_button: null,
                    chat_config: null,
                    chatbot: null,
                    chatEnabled: null,
                    customer: null,
                    Init: function (ladesk_button, chatbot, chat_config, customer) {
                        this.customer = customer;
                        this.ladesk_button = ladesk_button;
                        this.chat_config = chat_config;
                        this.chatbot = chatbot;
                        this.chatEnabled = null;

                        var currentTime = new Date();
                        var utcDateHour = currentTime.getUTCHours();
                        //var utcDateMinute = currentTime.getUTCMinutes();
                        var weekDay = currentTime.getUTCDay();

                        if (chatbot) {
                            if (this.chatEnabled == null) {
                                this.initChatBot();
                            }
                        }

                        if (ladesk_button) {
                            if (this.chatEnabled == null) {
                                this.initLadesk();
                            }
                        }
                    },

                    initLadesk: function () {
                    },

                    loadRemoteScript: function (sScriptSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('script');
                        oScript.type = 'text/javascript';
                        oScript.src = sScriptSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    loadRemoteStyle: function (sStyleSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('link');
                        oScript.rel = 'stylesheet';
                        oScript.href = sStyleSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    initChatBot: function () {
                        this.chatEnabled = 'chatBot';
                        var conversationID = localStorage.getItem("conversationID");
                        var that = this;
                        this.loadRemoteScript(linkJS, function () {
                            that.loadRemoteStyle(linkCSS, function () {
                                new ChatContainer(that.chat_config, conversationID);
                            });
                        });
                    }
                };

                ChatHandler.Init(ladeskButton, chatbot, chat_config, customer);
            });

        </script>
    </div>



    
    <script type="text/javascript" src="/js/mobile.js" charset="utf-8"></script>

    <!-- <script type="text/javascript"
        src="https://d2w9m16hs9jc37.cloudfront.net/js/jquery.magnific-popup.min.js?v=1565689025"
        charset="utf-8"></script> -->
        <script>
            $(document).ready(function () {
                name = 'status';
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
                let status = (results !== null) ? results[1] || 0 : false;
                if (!status || (!!status && status == 'pending')) {
                    $('.menu_options').find('.active').removeClass('active');
                    $('.box[rel=pending]').addClass('active')
                } else if (!!status && status == 'process') {
                    $('.menu_options').find('.active').removeClass('active');
                    $('.box[rel=process]').addClass('active')
                } else if (!!status && status == 'history') {
                    $('.menu_options').find('.active').removeClass('active');
                    $('.box[rel=history]').addClass('active')
                }
            });
        </script>

    <script type="text/javascript">$(function () {
            for (var i = 0; i < ready_callbacks.length; i++) {
                try { ready_callbacks[i](); } catch (ex) { console.log(ex); }
            }
            if (typeof (afterJquery) == 'function') afterJquery();
        });</script>


    <script type="text/javascript">if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/cdn-service-worker.js?v=1565689025', { scope: '/' });
        }</script>

    <script type="text/html" id="promo_tmpl">
    <div class="mainblock promoblock_mgm">
        <div class="content">
            <a href="/en-au/customer/referral">Give $25 - Get $25</a>
        </div>
    </div>
</script>
    <script>

        // MGM - Banner
        if (!$('#promo_block_top').length) {
            var isSumissura = $('body').hasClass('woman');
            var href = window.location.href;

            if (href.indexOf('/checkout/') < 0 && !$('body').hasClass('woman_mobile_personalize') && !$('body').hasClass('personalize')) {
                if ($('.promoblock_mgm').length == 0) {
                    var mgm_customer = JSON.parse(localStorage.getItem('customer'));
                    if (mgm_customer) {
                        if (mgm_customer.t4l_n_orders > 0) {
                            var dataObject = { customer: mgm_customer };
                            var new_html = tmpl("promo_tmpl", dataObject);
                            if (isSumissura) {
                                $('div.body').prepend(new_html);
                            } else {
                                $('#body').prepend(new_html);
                            }
                        }
                    }
                }
            }
        }

    </script>
</body>

</html>