<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <%
        // message the validation
        if (messages.errors) {
        for (i = 0; i < messages.errors.length; i++) {
        %>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fail !</strong> <%= messages.errors[i].msg %>
        </div>
        <%
        }
        }

        // message the reason change password fail
        if (messages.reason_fail) {
        %>
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.reason_fail %>
        </div>
        <%
        }

        // message if success
        if (messages.success) {
        %>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.success %>
        </div>
        <%
        }
        %>

        <h1>
            Submitted Order List
        </h1>
        <br>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tableListSubmittedOrders" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Name</th>
                                <th>User Phone</th>
                                <th>User Address</th>
                                <th>Order Date</th>
                                <th>Delivery Date</th>
                                <th>Ship fee</th>
                                <th>Total Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
</div>


<div class="modal fade" id="confirm-process-order" role="dialog">
    <form method="POST" id="form-process-order">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm to process order?</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="status" id="status" value="Processing" hidden="true">
                    <input type="text" name="employee_id" id="employee_id" hidden="true" value="<%= session.user.id%>">
                    Click on "Yes" to continue, "No" to cancel.
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>